// Colors

$yellowish: rgb(249, 252, 225);
$peach: rgb(254, 233, 178);
$pinkish: rgb(251, 209, 183);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

// Font Sizes

$font-xs: 0.9rem;
$font-s: 1.1rem;
$font-m: 1.4rem;
$font-l: 1.8rem;
$font-xl: 2.6rem;